{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center flex-wrap mb-5 pt-4">
<div class="row">
  <div class="col-md-5 m-3">
    <div class="card shadow" style="width: 300px;">
      <img src="{{object.image}}" alt="" width="300px" height="300px" id="images">
      <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <p class="card-text">{{object.body}}</p>
        <p class="card-text">{{object.create_at}}</p>
        <a href="{{object.link}}" target="_blank" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
