{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center flex-wrap mb-5 pt-4">
  {% for post in posts %}
<div class="row">
  <div class="col-md-5 m-3">
    <div class="card shadow" style="width: 300px;">
      <img src="{{post.image}}" alt="" width="300px" height="300px" id="images">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{post.body}}</p>
        <p class="card-text">{{post.create_at}}</p>
      </div>
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ forloop.counter }}">
  View Project
</button>
<div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{post.image}}" alt="" width="300px" height="300px" id="images">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{post.body}}</p>
      </div>
      <div class="border-top text-center">
        <a href="{{post.link}}" target="_blank" class="btn btn-primary">View Live Site</a>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock content %}
