.mycolor{
  background-color: #000b76;
}
.curved {
  color: #fff;
  /* height: 60vh; */
  max-width: 100vw;
  margin-top: 0;
}
.curved>svg {
  padding-top: 30vh;
  max-width: 100vw;
  display: block;
}
.myhero{
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%)
}
/* RATING START */
/*shows the stars side by side, centered, and in reverse order than the HMTL*/
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

/*hides the radio buttons*/
.rating > input{ display:none;}

/*style the empty stars, sets position:relative as base for pseudo-elements*/
.rating > label {
  position: relative;
  width: 1.1em;
  font-size: 5vw;
  color: #FFD700;
  cursor: pointer;
}

/* sets filled star pseudo-elements */
.rating > label::before{ 
  content: "\2605";
  position: absolute;
  opacity: 0;
}
/*overlays a filled start character to the hovered element and all previous siblings*/
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

/*overlays a filled start character on the selected element and all previous siblings*/
.rating > input:checked ~ label:before{
  opacity:1;
}

/*when an element is selected and pointer re-enters the rating container, selected rate and siblings get semi transparent, as reminder of current selection*/
.rating:hover > input:checked ~ label:before{ opacity: 0.4; }

/*just aesthetics*/

@media only screen and (max-width: 600px) {

}

/* RATING END */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .curved {
    color: #fff;
    /* height: 60vh; */
    max-width: 100vw;
    margin-top: 0;
  }
  .curved>svg {
    padding-top: 50vh;
    max-width: 100vw;
    display: block;
  }
 }
 /* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .curved {
    color: #fff;
    /* height: 60vh; */
    max-width: 100vw;
    margin-top: 0;
  }
  .curved>svg {
    padding-top: 50vh;
    max-width: 100vw;
    display: block;
  }
 }