{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card m-3">
        <div class="row">
            <div class="col-md-3">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            </div>
            <div class="col-md-8">
                <div>
                    <div class="text-center">
                      <div>
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}