{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="profile-card-1 mt-4">
        <div class="img"><img src="{{ user.profile.image.url }}"/></div><a class="view-more" href=""><i class="fa fa-plus-circle" aria-hidden="true"></i>
          <div class="popup"></div></a>
        <div class="mid-section">
          <div class="name">{{user.username}}</div>
          <div class="description">Email: {{user.email}}</div>
          <div class="line"></div>
          <!-- <div class="stats">
            <div class="stat">81.3M
              <div class="subtext">Followers</div>
            </div>
            <div class="stat">822k
              <div class="subtext">Likes</div>
            </div>
            <div class="stat">750k
              <div class="subtext">Shares</div>
            </div>
          </div> -->
        </div>
        <!-- <div class="links"><a class="fb" href=""><i class="fa fa-facebook-f" aria-hidden="true"></i></a><a class="twitter" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a><a class="follow" href=""><i class="fa fa-rocket" aria-hidden="true"></i></a></div> -->
      </div>
</div>
{% endblock content %}